<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
</head>
<body>
    <h1>Hello World!</h1>
    <p>This is my first web page</p>
    <p>My name is {{ first_name }}</p>
    <p>{{ stuff|safe }}</p>
    <p>{{ stuff|striptags }}</p>
    <p>{{ stuff|title }}</p>
    <h3>Favourite Pizza:</h3>
    {% for topping in fave_pizza %}
        {% if topping == 24 %}
            {{ topping + 100}}<br/>
        {% else %}
             {{ topping }}<br/>
        {% endif %}
    {% endfor %}


    <br/><br/>
    {{ fave_pizza.3 + 24}}

</body>
</html>